.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

input{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

